@import "materialize.scss";

body {
	
}

.gameID {
  text-align: center;
  font-size: 72px;
}

.current-turn-shadow {
  -webkit-box-shadow: 0 0 10px 2px rgba(255,204,0,1);
  -moz-box-shadow: 0 0 10px 2px rgba(255,204,0,1);
  box-shadow: 0 0 10px 2px rgba(255,204,0,1);
}

.hidden {
  display: none;
}

.btn {
  width: 100%;
  margin-top: 20px;
}

#videoCapture {
  video {
    width: 100%;
    height: 50%;
  }
}

#cardname {
  text-transform: capitalize;
}

.player_cards {
  .collection-header {
    font-weight: bold;
  }
  li {
    text-transform: capitalize;
  }
}

.diceContainer {
  display: block;
  width: 100%;

  .dice {
    display: block;
    float: left;
    width: 49%;
    height: 30px;
    border: 1px solid black;
    margin: 0.5% 1% 0.5% 0;

    &:nth-child(even) {
      margin: 0.5% 0 0.5% 1%;
    }

    &.locked {
      border-color: red;
    }
  }
}